<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="MapToolsWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <log4net>
    <root>
      <!---日志级别-->
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd&quot;.txt&quot;" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level %logger:%line - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
<userSettings>
        <MapToolsWinForm.Properties.Settings>
                <setting name="Setting_lon_scale" serializeAs="String">
                        <value>1.0</value>
                </setting>
                <setting name="Setting_lat_scale" serializeAs="String">
                        <value>1.0</value>
                </setting>
                <setting name="Setting_dir_scale" serializeAs="String">
                        <value>1.0</value>
                </setting>
                <setting name="Setting_speed_scale" serializeAs="String">
                        <value>1.0</value>
                </setting>
                <setting name="Setting_alt_scale" serializeAs="String">
                        <value>1.0</value>
                </setting>
                <setting name="Setting_acc_scale" serializeAs="String">
                        <value>1.0</value>
                </setting>
                <setting name="Setting_time_scale" serializeAs="String">
                        <value>yyyy-MM-dd HH:mm:ss</value>
                </setting>
                <setting name="Setting_time_check" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="Setting_type_scale" serializeAs="String">
                        <value>1.0</value>
                </setting>
                <setting name="Setting_jump_num" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Setting_separator_idx" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Setting_coord_type_idx" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Setting_is_filter_0_point" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="Setting_file_format_idx" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Setting_slt_tmap_path" serializeAs="String">
                        <value />
                </setting>
                <setting name="Setting_is_filter_repeat_point" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="Setting_min_speed" serializeAs="String">
                        <value>0.0</value>
                </setting>
                <setting name="Setting_amap_key" serializeAs="String">
                        <value />
                </setting>
                <setting name="Setting_baidu_map_key" serializeAs="String">
                        <value />
                </setting>
                <setting name="Setting_tencent_map_key" serializeAs="String">
                        <value />
                </setting>
                <setting name="Defult_amap_key" serializeAs="String">
                        <value>43fba9453caa69b438d977de4e432793</value>
                </setting>
                <setting name="Defult_baidu_map_key" serializeAs="String">
                        <value>CQnucm2q5gflDUai9Q9nVWtIhVaZXRIB</value>
                </setting>
                <setting name="Defult_tencent_map_key" serializeAs="String">
                        <value>RGTBZ-L55RW-UJSRS-RLTUY-E6HB7-WJBC6</value>
                </setting>
                <setting name="Setting_slt_search_engine" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Setting_key_word" serializeAs="String">
                        <value />
                </setting>
        </MapToolsWinForm.Properties.Settings>
    </userSettings>
</configuration>
